[submodule "tdf_gazebo"]
	path = tdf_gazebo
	url = https://github.com/rsanchezmo/tdf_gazebo.git
[submodule "project_gazebo/gazebo_maps"]
	path = project_gazebo/gazebo_maps
	url = https://github.com/engcang/gazebo_maps
